<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>143022455474-o147iqnjujduqmdb8sl50c23atvq6fbb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgPNUBBW1BiTk9A6fsaK0tnf81pTNMwag</string>
	<key>GCM_SENDER_ID</key>
	<string>143022455474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aman.FirebaseSwiftUIExample</string>
	<key>PROJECT_ID</key>
	<string>sampleproject-2359c</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleproject-2359c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143022455474:ios:ea4ab8d13267902dd167ab</string>
</dict>
</plist>